@model CRUD_Employees.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete employee</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="~/@Model.Image" alt="Employee Image" class="img-fluid rounded" style="max-width: 150px; max-height: 250px;" />
            }
            else
            {
                <img src="~/images/default-profile.png" alt="Default Employee Image" class="img-fluid rounded" style="max-width: 150px; max-height: 250px;" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartedWorking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartedWorking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractDue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractDue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VacationDays)
        </dt>
        <dd class="col-sm-10">
            @(Model.VacationDays ?? 0)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOff)
        </dt>
        <dd class="col-sm-10">
            @(Model.DaysOff ?? 0)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaidLeaveDays)
        </dt>
        <dd class="col-sm-10">
            @(Model.PaidLeaveDays ?? 0)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
