@model CRUD_Employees.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee</h1>

<h3>Are you sure you want to delete this employee from the database?</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.FirstName</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.LastName</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Image</label>
            <div class="col-sm-8">
                @if (!string.IsNullOrEmpty(Model.Image) && Model.Image != "images/default-profile.png")
                {
                    <img src="~/@Model.Image" alt="Employee Image" class="img-fluid rounded" style="max-width: 150px; max-height: 250px;" />
                }
                else
                {
                    <img src="~/images/default-profile.png" alt="Default Employee Image" class="img-fluid rounded" style="max-width: 150px; max-height: 250px;" />
                }
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Gender</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.Gender</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Birth Year</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.BirthYear</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Started Working</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.StartedWorking</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Contract Type</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.ContractType</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Contract Due</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.ContractDue</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Department</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.Department</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Vacation Days</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.VacationDays</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Days Off</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.DaysOff</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-sm-4 col-form-label">Paid Leave Days</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext fw-bold">@Model.PaidLeaveDays</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex gap-2 mt-3">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger px-3 py-1 hover-text-color">Delete</button>
    </form>
    <a asp-action="Index" class="btn btn-info px-3 py-1 hover-text-color">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary px-2 py-1 hover-text-color">Edit</a>
</div>
