@model CRUD_Employees.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="row d-flex gap-2 justify-content-center text-light">
    <div class="col-md-10 d-flex flex-column justify-content-start text-light">
        <h1>Employee details</h1>
        <hr />
    </div>

    <div class="col-md-5 d-flex flex-column justify-content-end">
        <div class="form-group row mb-2">
            <label class="col col-form-label">First name:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.FirstName</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Last name:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.LastName</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Gender:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.Gender</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Birth year:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.BirthYear</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Started working:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.StartedWorking</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Contract type:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.ContractType</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Contract due:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.ContractDue</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Department:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.Department</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Vacation days:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.VacationDays</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Days off:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.DaysOff</p>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col col-form-label">Paid leave days:</label>
            <div class="col">
                <p class="form-control-plaintext fw-bold text-light">@Model.PaidLeaveDays</p>
            </div>
        </div>
        
    </div>

    <div class="form-group col-md-5 d-flex flex-column align-items-center text-dark">
        <div class="d-flex justify-content-end w-75 gap-2 mb-3 me-5">
            <a asp-action="Index" class="btn btn-info hover-text-color">Back to list</a>

            <button type="button" class="btn btn-danger hover-text-color" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete
            </button>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><strong>Delete</strong></h5>
                        </div>
                        <div class="modal-body">
                            <strong>Are you sure you want to delete this employee?</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form asp-action="Delete" method="post">
                                <input type="hidden" asp-for="Id" />
                                <button type="submit" class="btn btn-danger hover-text-color">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary hover-text-color">Edit</a>
        </div>
        <div>
            @if (!string.IsNullOrEmpty(Model.Image) && Model.Image != "images/default_image.jpg")
            {
                <img src="~/@Model.Image" alt="Employee Image" class="img-fluid rounded" style="min-width: 350px; min-height: 350px;
                    max-width: 250px; max-height: 250px;" />
            }
            else
            {
                <img src="~/images/default_image.jpg" alt="Default Employee Image" class="img-fluid rounded" style="min-width: 350px; min-height: 350px;
                    max-width: 250px; max-height: 250px;" />
            }
        </div>
    </div>
</div>
